$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light1: #f7f7f7;

$color-gray-dark: #777;
$color-gray-darker: #333;
$color-gray: #999;
$color-white: #eee;
$color-black: #000;

//Fontes
$default-font-size: 16px;

//Grid
$grid-width: 160rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;

//Radius
$border-radius: .6rem;
$border-radius-small: .3rem;
$border-radius-big: 1rem;
$border-radius-enormous: 10rem;

//Margins
$margin-small: 1.2rem;
$margin-medium: 4rem;
$margin-big: 8rem;
$margin-huge: 10rem;