*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

html {
    // Define o valor de 1 rem = 10px
    font-size: 62.5%; // 1rem = 10px | 10px / 16px = 0.625rem

    @include respond(desktop) {
        // width < 1200px
        font-size: 56.25%; // 1rem = 9px | 9px / 16px = 0.5625rem
    }

    @include respond(tablet) {
        // width < 900px
        font-size: 50%; // 1rem = 8px | 8px / 16px = 0.5rem
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;


    @include respond(tablet) {
        padding: 0rem;
    }
}

::selection {
    background: $color-primary;
    color: $color-white;
}